<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me!</title>
</head>
<body>
    <h1 style="font-family: Comic Sans MS, Comic Sans, cursive">hi i'm brandon. welcome to my about me page :)</h1>
    <p style="font-family: Comic Sans MS, Comic Sans, cursive">i'm a second year eecs major from san leandro, ca</p>
    <p style="font-family: Comic Sans MS, Comic Sans, cursive">i'm big nerd and love video games</p>
    <p style="font-family: Comic Sans MS, Comic Sans, cursive">i don't actually know what i'm doing about 90% of the time</p>
    <p style="font-family: Comic Sans MS, Comic Sans, cursive">here's some <i>totally random text</i> for ya, thanks for stopping by: 7768792064696420796f75206465636f6465207468697320637261636b68656164</p>
    <a href="http://127.0.0.1:5000/">home</a>
</body>
</html>