<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is a wip go away</title>
</head>
<body>
    <a href="http://127.0.0.1:5000/"><button>click here to <b><i>GO AWAY</i></b></button></a>
    <h2>go away</h2>
    <h3>this is a test to see if japanese text works: 私はルイです。はじめましてどうぞよろしく</h3>
    <img src="https://i.kym-cdn.com/photos/images/facebook/001/506/580/ad4.jpg" alt="chicken">
    <h3><i>why did you scroll down here why do you hate me aaaaaaaaa :'(</i></h3>
    <a href="http://127.0.0.1:5000/">home</a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button>epic song</button></a>
    <a href="https://matias.ma/nsfw/?fbclid=IwAR2XFnwoEFn8I9NX9gpU36KATIfPlnvL-MNTM3uWVpBnErEA7ioSKLkx8zA">this website has the string 
        'nsfw' in the link, click this link if you dare</a>
</body>

<!-- Display the countdown timer in an element -->
<h1>this is a countdown to your birthday.</h1>
<p id="demo"></p>
<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 1, 2022 00:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
<h6>lol just kidding but you checked didn't you</h6>

</html>