<!-- Recall that you can make get the boiler plate code by typing ! and then hitting enter -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>side note this is just something random i made for a workshop one time, go to http://127.0.0.1:5000//about_me instead</h1>
<a href='http://127.0.0.1:5000//about_me'><button><i>alternatively, click this button</i></button></a>
<h1 style="color:red">My own webpage</h1>
<h6 style="color:red">I'm smaller</h6>
<button onclick="studpif()">Click me!</button>
<img src="https://res.cloudinary.com/pgone/image/upload/w_auto,c_limit,f_auto/pgone/dawn-dish/en-us/prod/images/ozmrdhn3wwi12uwlw2mu" alt="dawn image">
<a href="https://res.cloudinary.com/pgone/image/upload/w_auto,c_limit,f_auto/pgone/dawn-dish/en-us/prod/images/ozmrdhn3wwi12uwlw2mu">Link to image</a>
<a href="http://127.0.0.1:5000/route2"><button>**wip**</button></a>

<script>
function studpif() {
    alert("you lost the game");
}
</script>

</body>
</html>


